# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Virtual environments
venv/
ENV/
env/
.venv/
ragenv/


# IDE
.vscode/
.idea/
*.swp
*.swo

#files
*.log
*.bak
*.tmp
*.DS_Store
*.db
*.sqlite3
uploads/
vector_store/
*.zip
temp/
*.png



